@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717; /* Cor do texto */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3f4f6; /* Cor de fundo clara mesmo no modo escuro */
    --foreground: #ededed; /* Cor do texto no modo escuro */
  }
}

body {
  color: var(--foreground);
  background: var(--background); /* Usando a variável para o fundo */
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
